@font-face {
    font-family: 'KelsonSansBold';
    src: url('../fonts/kelson_sans_bold_ru-webfont.eot');
    src: url('../fonts/kelson_sans_bold_ru-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/kelson_sans_bold_ru-webfont.woff') format('woff'),
         url('../fonts/kelson_sans_bold_ru-webfont.ttf') format('truetype'),
         url('../fonts/kelson_sans_bold_ru-webfont.svg#kelson_sans_rubold') format('svg');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'KelsonSansRegular';
    src: url('../fonts/kelson_sans_regular_ru-webfont.eot');
    src: url('../fonts/kelson_sans_regular_ru-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/kelson_sans_regular_ru-webfont.woff') format('woff'),
         url('../fonts/kelson_sans_regular_ru-webfont.ttf') format('truetype'),
         url('../fonts/kelson_sans_regular_ru-webfont.svg#kelson_sans_ruregular') format('svg');
    font-weight: normal;
    font-style: normal;
}


body {
    font-family: 'KelsonSansRegular';
}

.main-container {
    width: 968px;
    margin: 0 auto;
}

.main-container .main-banner {
    width: 100%;
    height: 285px;
    position: absolute;
    top: 50%;
    margin-top: -143px;
}

.main-container .main-banner .preloader {
    position: absolute;
    width: 60px;
    height: 60px;
    top: 50%;
    left: 50%;
    margin-top: -30px;
    margin-left: -30px;
    background: url('../img/preloader.gif') 0 0 no-repeat;
}

.main-container .main-banner .banner-item {
    border-left: 1px solid white;
    height: 100%;
    float: left;
    overflow: hidden;
    position: relative;
    width: 80px;
}

.main-container .main-banner .banner-item:not(.active) img {
    margin: 0 auto;
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%); -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%); -o-filter: grayscale(100%);
    /*filter: url(#greyscale);*/
    filter: gray;
    -webkit-filter: grayscale(1);
}

.main-container .main-banner .banner-item .banner-item-overlay {
    position: absolute;
    height: 80px;
    width: 285px;
    left: -102px;
    top: 102px;
    background: url('../img/banner-overlay-bg.png') 0 0 repeat;
    font-family: 'KelsonSansBold';
    font-size: 18px;
    line-height: 80px;
    text-align: left;
    text-indent: 20px;
    cursor: pointer;
    color: #fff;
    z-index: 1;
    -webkit-font-smoothing: antialiased;
    text-shadow: 1px 1px 1px rgba(255,255,255,0.004);
    transform: rotate(270deg);
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=9);
}

.ie8 .main-container .main-banner .banner-item .banner-item-overlay {
    height: 285px;
    width: 80px;
    text-indent: -9999px;
    top: 0;
    left: 0;
}

.main-container .main-banner .banner-item .banner-item-label {
    width: 100%;
    text-align: center;
    color: #fff;
    position: absolute;
    bottom: -17px;
    left: 0;
    font-family: 'KelsonSansBold';
    font-size: 58px;
    text-transform: uppercase;
    display: none;
    /*-webkit-font-smoothing: antialiased;*/
    /*text-shadow: 1px 1px 1px rgba(255,255,255,0.004);*/
}

.main-container .main-banner .banner-item:first-child {
    border-left: none;
}

.main-container .main-banner .banner-item.active {
    width: auto;
}

.main-container .main-banner .banner-item.active:before {
    visibility: hidden;
}

.main-container .content {
    overflow: hidden;
}